@import url(./font.css);
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow: hidden;
}

a,
a:visited,
a:hover {
    /* text-decoration: none; */
    color: inherit;
}

a:hover {
    color: rgb(237, 100, 8);
}

img {
    max-width: 100%;
}

input[type=submit] {
    background: rgb(237, 100, 8);
    border: 1px solid rgb(237, 100, 8);
    color: #fff;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
}

input[type=submit]:hover {
    color: rgb(237, 100, 8);
    border: 1px solid rgb(237, 100, 8);
    background: #fff;
    width: 100%;
}

.main_section {
    padding: 1em 3em;
}

.main_login {
    padding: 1em 10em;
}

.logo {
    width: 100%;
    padding: 0 0.5em;
}

.form-control:focus {
    border-color: rgb(237, 100, 8);
    box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.25);
}

input.form-control::placeholder {
    color: #ccc;
    font-size: 0.8em;
}

.main_login .form-control {
    margin: 10px 0;
}

.lost_account {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 0.9em;
    margin-top: 15px;
    letter-spacing: -1px;
}

.main_cont {
    font-size: 0;
    padding-right: 60px;
}

.main_cont>* {
    display: inline-block;
    width: 40%;
    font-size: 15px;
    height: 300px;
    padding: 15px;
}

.card_area_lg {
    width: 60%;
}

.card_area .card {
    border-radius: 2em;
    height: 100%;
    transition: ease-in-out .4s;
    background-color: rgba(255, 255, 255, 0.4)
}

.card_area .card:hover {
    border-color: rgb(237, 100, 8);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
    animation: float ease-in-out 1s infinite;
}

.card-title {
    display: inline-block;
    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1em;
    color: #777;
}

.card-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 130%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(237, 100, 8);
    transition: 0.6s;
}

.card_area .card:hover .card-title {
    color: rgb(237, 100, 8)
}

.card_area .card:hover .card-title::after {
    width: 100%;
}

@keyframes float {
    0% {
        transform: translateY(0.5%);
    }
    100% {
        transform: translateY(3%);
    }
}

.main_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 125, 65);
    background: linear-gradient(304deg, rgba(255, 125, 65, 1) 0%, rgba(255, 158, 0, 0.4962359943977591) 13%, rgba(255, 158, 0, 0) 47%);
}

.navbar {
    justify-content: end;
    background: transparent;
}

.nav-link {
    color: rgb(255, 125, 65);
    padding: 0.5rem 2rem;
}

.nav-link:hover {
    color: #777;
}

.orange {
    color: rgb(255, 125, 65);
}

.minihome {
    height: 100vh;
    background: url(../img/skin_default.png)
}

.minihome_edge {
    border-radius: 20px;
    height: 80%;
}

.minihome_edge {
    position: relative;
    background-color: #4FB4D8;
}

.minihome_cont {
    position: relative;
    padding: 2em;
    height: 100%;
}

.minihome_cont::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.3em;
    left: 50%;
    transform: translate(-50%);
    width: 96%;
    height: 95%;
    border-radius: 20px;
    border: 1px dashed #fff;
}

.minihome_in {
    height: 100%;
    background: #fff;
    border: 1.5px solid #000;
    border-radius: 20px;
    z-index: 1;
    padding: 2em 0 1em;
}

.minihome_in_l,
.minihome_in_r {
    border-radius: 20px;
    height: 100%;
    border: 1px solid #000;
}

.minihome_in_l {
    border-right: transparent;
    padding-right: 3px;
    padding-left: 1em;
}

.minihome_in_r {
    border-left: transparent;
    padding-left: 3px;
    padding-right: 1em;
}

.minihome_title span {
    font-size: 1.4em;
}

.intro {
    padding: 1.5em;
    border: 1px solid #000;
    border-radius: 10px;
    height: 95%;
}

.intro_pic {
    height: 15em;
    border-radius: 10px;
    overflow: hidden;
    background-color: lightblue
}

.intro_email a {
    color: navy;
    font-size: 1.1em;
    font-weight: 600;
}

.intro_email a:hover {
    text-decoration: none;
}

.intro_quote {
    height: 10em;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

.minihome_right {
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 1em;
    height: 95%;
    overflow-y: scroll;
}

.minimain {
    padding: 1em 3em;
}

.minimain h3 {
    font-size: 1em;
    font-weight: 600;
    color: #4FB4D8;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
}

.minimain section {
    margin-bottom: 1em;
}

.minimain_news ul {
    padding: 0;
    margin-left: 20px;
}

.minimain_news a {
    display: block;
}

.miniroom {
    height: 18em;
    background: gray;
}

.ilchon_link {
    font-size: 0.9em;
}

.minimain .table td,
.minimain .table th {
    padding: 3px;
    border-top: unset;
}

.ilchon_quote li,
.ilchon_quote ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ilchon_quote li>span {
    margin-right: 10px;
}

.minihome_menu {
    position: absolute;
    top: 5em;
    right: -3.5em;
}

.minihome_menu ul,
.minihome_menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.minihome_menu li {
    margin-bottom: 4px;
}

.minihome_menu a {
    display: block;
    padding: 0.8em;
    background: #4FB4D8;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #000;
    border-left: none;
}

.minihome_menu a:hover,
.minihome_menu a.active {
    text-decoration: none;
    background: #fff;
    color: #000;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #777;
}