@import url(./font.css);
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

input[type=submit] {
    background: rgb(237, 100, 8);
    border: 1px solid rgb(237, 100, 8);
    color: #fff;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
}

input[type=submit]:hover {
    color: rgb(237, 100, 8);
    border: 1px solid rgb(237, 100, 8);
    background: #fff;
    width: 100%;
}

.main_section {
    padding: 1em 3em;
}

.main_login {
    /* width: 30%; */
}

.logo {
    width: 100%;
    padding: 0 0.5em;
}

.form-control:focus {
    border-color: rgb(237, 100, 8);
    box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.25);
}

input.form-control::placeholder {
    color: #ccc;
    font-size: 0.8em;
}

.main_login .form-control {
    margin: 10px 0;
}

.lost_account {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 0.9em;
    margin-top: 15px;
    letter-spacing: -1px;
}

.lost_account>*:hover {
    color: rgb(237, 100, 8);
}

.main_cont {}

.main_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 125, 65);
    background: linear-gradient(304deg, rgba(255, 125, 65, 1) 0%, rgba(255, 158, 0, 0.4962359943977591) 13%, rgba(255, 158, 0, 0) 47%);
}

.navbar {
    justify-content: end;
    background: transparent;
}

.nav-link {
    color: rgb(255, 125, 65);
    padding: 0.5rem 2rem;
}

.nav-link:hover {
    color: #777;
}

.minihome {
    height: 100vh;
    background: url(../img/skin_default.png)
}

.minihome_edge {
    border-radius: 20px;
    height: 80%;
}

.minihome_edge {
    position: relative;
    background-color: #4FB4D8;
}

.minihome_cont {
    padding: 2em;
    height: 100%;
}

.minihome_cont::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.3em;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    height: 94%;
    border-radius: 20px;
    border: 1px dashed #fff;
}

.minihome_in {
    height: 100%;
    background: #fff;
    border: 1.5px solid #000;
    border-radius: 20px;
    z-index: 1;
    padding-top: 4em;
    padding-bottom: 1em;
}

.minihome_in_l,
.minihome_in_r {
    border-radius: 20px;
    height: 100%;
    border: 1px solid #000;
}

.minihome_in_l {
    border-right: transparent;
    padding-right: 3px;
}

.minihome_in_r {
    border-left: transparent;
    padding-left: 3px;
}